@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Nunito";
  src: url("/public/fonts/Nunito.ttf");
}

#root,
body,
html {
  height: 100%;
}

#login-screen-bg-image {
  background: url("https://cdn.discordapp.com/attachments/712270856604090389/1258139159642771547/pascal-meier-yQyWX96TSPc-unsplash.jpg?ex=669f58a6&is=669e0726&hm=0bb7133fe84462ef570fc106cad253b54f4f1f6992d220357b814a4686c2d200&");
  background-size: cover;
}
